@model IEnumerable<Przychodnia.Database.Data.CMS.Feed>

@foreach (var feed in Model)
{
	<div class="carousel-item col s12 m6 l4">
		<div class="icon-block">
			<h2 class="center black-text"><i class="material-icons">@feed.Icon.Name</i></h2>
			<h5 class="center">@feed.Title</h5>
			<p class="center light">@feed.Content</p>
		</div>
	</div>
}