@model Przychodnia.Database.Data.Visits.Doctor
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ReservationLayout.cshtml";
}

<div>
    Foto
</div>
<div>
    @Model.Name
</div>
<div>
    @Model.Specialization
</div>
<div>
    @Model.LicenceNumber
</div>

