@*@model IEnumerable<Przychodnia.Database.Data.Visits.Doctor>*@
@model IEnumerable<Przychodnia.PortalWWW.ViewModels.DoctorDisplayViewModel>

@{
	ViewData["Title"] = "Rezerwacje";
	Layout = "~/Views/Shared/_ReservationLayout.cshtml";
}

<div>
	<div class="row">
		@foreach (var doctor in Model)
		{
			<div class="col s12 m3">
				<div class="card">
					<a class="card" href="@Url.Action("Details","Reservation",new {id=doctor.Id},null)">
						<div class="card-image">
							@*<img src="~/lib/materialize/images/doctors.jpg">*@
							<img src="data:@doctor.PictureFormat;base64,@doctor.Picture" />
						</div>
						<div class="card-content">
							<span class="card-title">@Html.ActionLink(doctor.Name, "Details", "Reservation", new {id=doctor.Id},null)</span>
							<p>@doctor.Specialization.Name</p>
						</div>
						<div class="card-content">
							<p>Cena wizyty: 200 zł</p>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
</div>