@using Przychodnia.PortalWWW.Helpers;
@model IEnumerable<Przychodnia.PortalWWW.ViewModels.DoctorDisplayViewModel>

@{
	ViewData["Title"] = "Rezerwacje";
	Layout = "~/Views/Shared/_ReservationLayout.cshtml";
}

<div>
	<div class="row">
		@foreach (var doctor in Model)
		{
			<div class="col s12 m3">
				<div class="card">
					<a class="card" href="@Url.Action("Details","Reservation",new DoctorParameter{DoctorId=doctor.Id, StartDay=0},null)">
						<div class="card-image">
							<img src="data:@doctor.PictureFormat;base64,@doctor.Picture" />
						</div>
						<div class="card-content">
							<span class="card-title">@Html.ActionLink(doctor.Name, "Details", "Reservation", new DoctorParameter{DoctorId=doctor.Id, StartDay = 0},null)</span>
							<p>@doctor.Specialization.Name</p>
						</div>
						<div class="card-content">
							<p>Cena wizyty: @String.Format("{0:0.}",doctor.Price) zł</p>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
</div>