<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>@ViewData["Title"] - Przychodnia MEDICA</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="~/lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="~/lib/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link rel="shortcut icon" href="~/lib/materialize/images/stethoscope.png" type="image/x-icon">
	<link rel="icon" href="shortcut icon" href="~/lib/materialize/images/stethoscope.png" type="image/x-icon">
</head>
<body>
	<nav class="cyan" role="navigation">
		@await Component.InvokeAsync("SpecializationsMenuComponent")
		@*@await Html.PartialAsync("SpecializationsMenu", (IEnumerable<Przychodnia.Database.Data.Visits.Specialization>) ViewBag.Specializations)*@
	</nav>


	<main role="main" class="pb-3">
		<div class="container">
			@RenderBody()
		</div>
	</main>


	<footer class="page-footer cyan">
		<div class="footer-copyright">
			<div class="container">
				Made by Karol Marciniak &trade;
			</div>
		</div>
	</footer>

	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="~/lib/materialize/js/materialize.js"></script>
	<script src="~/lib/materialize/js/init.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
