@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Placówki";
}

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h4>Nasze placówki</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4885.761082524533!2d21.187107245015053!3d52.24555342278916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1680269541304!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            
            </div>
        </div>

    </div>
</div>
