@{
	ViewData["Title"] = "Strona główna";
}

<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center white-text text-lighten-2 z-depth-4">Przychodnia MEDICA</h1>
			<div class="row center">
				<h5 class="header col s12 light white-text">Sieć przychodni lekarzy specjalistów.</h5>
			</div>
			<div class="row center">
				<a href="@Url.Action("Pricelist","Home")" id="download-button" class="btn-large waves-effect waves-light cyan lighten-1">Zapisz się</a>
			</div>
			<br><br>

		</div>
	</div>
	<div class="parallax"><img src="~/lib/materialize/images/doctors_c.jpg"></div>
</div>

<div class="container">
	<div class="section">
		<div class="row">
			<div class="carousel">
				<h4 class="center text-title">Aktualności</h4>
				@await Component.InvokeAsync("FeedComponent")
			</div>
		</div>
	</div>
</div>

<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<h5 class="header col s12 white-text">Dbamy o najwyższy poziom usług</h5>
			</div>
		</div>
	</div>
	<div class="parallax"><img src="~/lib/materialize/images/masks.jpg"></div>
</div>

<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 center">
				<h3><i class="mdi-content-send brown-text"></i></h3>
				<h4>Umów wizytę</h4>
				<div class="col s6 m6">
					<div class="icon-block">
						<h2 class="center black-text"><i class="material-icons">web</i></h2>
						<h5 class="center">Internetowo</h5>
						<p class="light">Po zalogowaniu możesz sprawdzić dostępne terminy i szybko zapisać się do wybranego specjalisty.</p>
					</div>
				</div>

				<div class="col s6 m6">
					<div class="icon-block">
						<h2 class="center black-text"><i class="material-icons">call</i></h2>
						<h5 class="center">Telefonicznie</h5>
						<p class="light">Zadzwoń na naszą infolinię, uzyskaj wszystkie potrzebne informacje i zapisz się na wizytę.</p>
						<p class="light">+48 111 222 333</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<h5 class="header col s12 white-text">Zaufało nam już ponad 100 000 pacjentów!</h5>
			</div>
		</div>
	</div>
	<div class="parallax"><img src="~/lib/materialize/images/pills.jpg"></div>
</div>


