@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cennik";
}

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 white-text">Dbamy o najwyższy poziom usług</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/lib/materialize/images/usg.jpg"></div>
</div>

<div class="container">
    <div class="section">

        <div class="table">
            <table>
                <tr>
                    <th>Specjalizacja</th>
                    <th>Cena</th>
                </tr>
                <tr>
                    <td>Alergolog</td>
                    <td>150 zł</td>
                </tr>
                <tr>
                    <td>Endokrynolog</td>
                    <td>250 zł</td>
                </tr>
                <tr>
                    <td>Kardiolog</td>
                    <td>200 zł</td>
                </tr>
            </table>
        </div>
        
        <p class="left-align light">Uczniowie i studenci otrzymają zniżkę 20% po okazaniu ważnej legitymacji.</p>

    </div>
</div>
